.header {
    font-family:Georgia;
    color:#4f7680;    
}

.footer {
    font-family:Georgia;
    color:#4f7680;
    transform: translateY(30px);
  }

.body{
    background-color:#d9e7f2;
  }

.round-button{
    display: table-cell;
    font-size: 16px;
    width: 33px;
    height: 30px;
    font-weight: 500;
    vertical-align: middle;
    color: #70757a;
    background-color: #d9e7f2;
    cursor: pointer;
    outline: none;
    border: none;
    position: relative;
    border-radius: 50%;
    transform: translateY(25px);
}

.round-button:hover {
    background-color: #c6dbeb;
  }

.special-round-button{
    display: table-cell;
    font-size: 16px;
    width: 33px;
    height: 30px;
    font-weight: 500;
    vertical-align: middle;
    color: #70757a;
    background-color: #a7c0d2;
    cursor: pointer;
    outline: none;
    border: none;
    position: relative;
    border-radius: 50%;
    transform: translateY(25px);
}

.special-round-button:hover {
    background-color: #86aac4;
  }

.free-round-button{
    display: table-cell;
    font-size: 16px;
    width: 33px;
    height: 30px;
    font-weight: 500;
    vertical-align: middle;
    color: #70757a;
    background-color: #d9e7f2;
    cursor: pointer;
    outline: none;
    border: none;
    position: relative;
    border-radius: 50%;
    transform: translateY(25px);   
}

.lable{
    display: table-cell;
    font-size: 16px;
    width: 33px;
    height: 30px;
    font-weight: 500;
    vertical-align: middle;
    color: #70757a;
    background-color: #d9e7f2;
    cursor: pointer;
    outline: none;
    border: none;
    position: relative;
    border-radius: 50%;
    transform: translateY(15px);
}

.text{
    height: 32px;
    font-size: 16px;
    font-weight: 500;
    color: #70757a;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    margin-left: 4px;
    margin-right: 3px;
}

.selecter{
    transform: translateY(-20px) translateX(220px);
}

  