.label {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.header-footer {
    font-family:Georgia;
    color:#4f7680 ;
    transform: translateY(10px);
  }
.body{
    background-color:#95bddc;
  }
  